.cursor-pointer {
    cursor: pointer;
}

.text-theme {
    color: var(--theme) !important;
}

.text-light-gray {
    color: var(--light-gray) !important;
}

.text-light-gray-hover {
    color: var(--light-gray) !important;
    transition: 0.3s all ease-in-out !important;

    &:hover {
        transition: 0.3s all ease-in-out !important;
        color: var(--theme) !important;
    }

}
