.btn-light-theme {
    background-color: var(--bs-secondary-bg-subtle) !important;
    color: var(--bs-black) !important;
    transition: 0.3s all ease-in-out !important;

    &:hover {
        background-color: var(--theme) !important;
        color: var(--bs-white) !important;
        transition: 0.3s all ease-in-out !important;
    }

}

.btn-white-light {
    background-color: var(--bs-white) !important;
    color: var(--bs-black) !important;
    transition: 0.3s all ease-in-out !important;

    &:hover {
        background-color: var(--bs-secondary-bg-subtle) !important;
        color: var(--bs-black) !important;
        transition: 0.3s all ease-in-out !important;
    }

}

.btn-outline-theme{
    background-color: var(--bs-white) !important;
    color: var(--bs-black) !important;
    transition: 0.3s all ease-in-out !important;
    border: 1px solid var(--bs-border-color) !important;

    &:hover {
        background-color: var(--theme) !important;
        color: var(--bs-white) !important;
        transition: 0.3s all ease-in-out !important;
        border: 1px solid var(--theme) !important;
    }
}

.btn-theme {
    background-color: var(--theme) !important;
    color: var(--bs-white) !important;
    transition: 0.3s all ease-in-out !important;
    border: 1px solid var(--theme) !important;

    &:hover {
        background-color: var(--dark-theme) !important;
        transition: 0.3s all ease-in-out;
    }

}

.btn-cancel {
    background-color: var(--bs-border-color) !important;
    color: var(--bs-black) !important;
    transition: 0.3s all ease-in-out !important;
    border: 1px solid var(--bs-border-color) !important;

    &:hover {
        background-color: var(--bs-gray) !important;
        color: var(--bs-white) !important;
        transition: 0.3s all ease-in-out;
        border: 1px solid var(--bs-gray) !important;
    }

}

.btn-icon {
    width: 35px !important;
    height: 35px !important;
    outline: none !important;
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    transition: 0.3s all ease-in-out !important;
    padding: 0 !important;

    &:hover {
        box-shadow: 0 0 12px 0 var(--bs-border-color) inset !important;
        transition: 0.3s all ease-in-out !important;
        background-color: var(--bs-light) !important;
    }

}
