.background-effect {

    &:hover {
        .image-effect {
            transition: 0.3s all ease-in-out;
            transform: scale(1.1);
        }
    }

    .image-effect {
        transition: 0.3s all ease-in-out;
        transform: scale(1);
    }

}
