.header, .footer, .inner-shadow-search {

    .form-control {
        border: 1px solid var(--bs-border-color) !important;
        box-shadow: 0 0 12px 0 var(--bs-border-color) inset !important;
    }

    .form-select {
        border: 1px solid var(--bs-border-color) !important;
        box-shadow: 0 0 12px 0 var(--bs-border-color) inset !important;
    }

}

.navbar {

    .navbar-brand {  }

    .collapse, .collapsing {

        @media screen and (max-width: 991px) {
            position: fixed;
            top: 0;
            bottom: 0;
            right: -400px;
            width: 360px;
            height: 100%;
            background-color: var(--bs-light);
            padding: 30px;
            box-shadow: 0 0 8px 0 var(--bs-border-color);
            display: block !important;
            transition: 0.3s all ease-in-out !important;
            z-index: 9999999999;

            &.show {
                transition: 0.3s all ease-in-out !important;
                right: 0;
            }

        }

        @media screen and (max-width: 576px) {
            position: fixed;
            top: 0;
            bottom: 0;
            right: -110%;
            width: 100%;
            height: 100%;
            background-color: var(--bs-light);
            padding: 30px;
            box-shadow: 0 0 8px 0 var(--bs-border-color);
            display: block !important;
            transition: 0.3s all ease-in-out !important;
            z-index: 9999999999;

            &.show {
                transition: 0.3s all ease-in-out !important;
                right: 0;
            }

        }

        .navbar-nav {

            .nav-item {

                .nav-link {
                    transition: 0.3s all ease-in-out;
                    color: var(--light-gray) !important;

                    &:hover, &.router-link-active, &.router-link-exact-active {
                        transition: 0.3s all ease-in-out;
                        color: var(--theme) !important;
                    }

                    .icon{
                        font-size: 10px !important;
                    }

                }

                .icon-close {
                    background-color: var(--bs-white);
                    box-shadow: 0 0 8px 0 var(--bs-border-color);
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        transition: 0.3s all ease-in-out;
                        box-shadow: 0 0 12px 0 var(--bs-border-color);
                    }

                }

            }

        }

    }

    .navbar-toggler {
        background-color: var(--bs-white);
        box-shadow: 0 0 8px 0 var(--bs-border-color);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 0 12px 0 var(--bs-border-color);
        }

    }

}
