.admin-wrapper {
    display: flex;

    .admin-sidebar {
        width: 250px;
        height: 100vh;

        @media screen and (max-width: 991px) {
            width: 60px;
        }

        @media screen and (max-width: 576px) {
            width: 100%;
            left: -100%;
            top: 0;
            bottom: 0;
            transition: 0.3s all ease-in-out;
            position: fixed;
            background-color: var(--bs-white);
            z-index: 900;

            &.active {
                transition: 0.3s all ease-in-out;
                left: 0;
            }

        }

        .admin-sidebar-header {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;

            @media screen and (max-width: 576px) {
                justify-content: space-between;
            }

            .admin-sidebar-logo {
                text-decoration: none;
                color: var(--bs-black);
                font-size: 18px !important;
                font-weight: bold;

                @media screen and (max-width: 991px) {
                    span {
                        display: none;
                    }
                }

                @media screen and (max-width: 576px) {
                    span {
                        display: inline-block;
                    }
                }

            }

            .admin-sidebar-close {
                outline: none;
                border: none;
                background-color: transparent;
                transition: 0.3s all ease-in-out;
                width: 35px;
                height: 35px;
                border-radius: 10px;
                display: none;

                @media screen and (max-width: 576px) {
                    display: flow;
                }

                &:hover {
                    transition: 0.3s all ease-in-out;
                    background-color: var(--bs-border-color);
                }

            }

        }

        .admin-sidebar-body {
            width: 100%;
            height: calc(100vh - 140px);
            padding: 10px;

            .admin-sidebar-body-link {
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                color: var(--bs-black);
                transition: 0.3s all ease-in-out;
                margin-bottom: 5px;

                @media screen and (max-width: 991px) {
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        display: none;
                    }
                }

                @media screen and (max-width: 576px) {
                    display: block;
                    justify-content: center;
                    align-items: center;
                    span {
                        display: inline-block;
                    }
                }

                &.router-link-active, &:hover {
                    transition: 0.3s all ease-in-out;
                    color: var(--theme) !important;
                    background-color: var(--bs-light) !important;
                    box-shadow: 0 0 8px 0 var(--bs-border-color) inset !important;
                    border-radius: 5px;
                }

            }

        }

        .admin-sidebar-footer {
            width: 100%;
            height: 70px;
            padding: 10px;

            .admin-sidebar-footer-link {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                background-color: transparent;
                transition: 0.3s all ease-in-out;
                text-align: start;
                padding: 0 20px;

                @media screen and (max-width: 991px) {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        display: none;
                    }
                }

                @media screen and (max-width: 576px) {
                    display: inline-block;
                    justify-content: center;
                    align-items: center;
                    span {
                        display: inline-block;
                    }
                }

                &:hover {
                    transition: 0.3s all ease-in-out;
                    color: var(--theme) !important;
                    background-color: var(--bs-light) !important;
                    box-shadow: 0 0 8px 0 var(--bs-border-color) inset !important;
                    border-radius: 5px;
                }

            }

        }

    }

    .admin-content {
        width: calc(100% - 250px);
        height: 100vh;

        @media screen and (max-width: 991px) {
            width: calc(100% - 60px);
        }

        @media screen and (max-width: 576px) {
            width: 100%;
        }

        .admin-content-header {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            background-color: var(--bs-white);

            .admin-sidebar-toggle {
                outline: none;
                border: none;
                background-color: transparent;
                transition: 0.3s all ease-in-out;
                width: 35px;
                height: 35px;
                border-radius: 5px;
                display: none;

                @media screen and (max-width: 576px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    transition: 0.3s all ease-in-out;
                    background-color: var(--bs-border-color);
                    box-shadow: 0 0 12px 0 var(--bs-border-color) inset !important;
                }

            }

            .form-control {
                width: 350px;
            }

        }

        .admin-content-body {
            width: 100%;
            height: calc(100vh - 70px);
            padding: 20px 20px 0;
            background-color: var(--bs-light);
            box-shadow: 0 0 12px 0 var(--bs-border-color) inset;

            .chat-wrapper {
                display: flex;
                position: relative;
                overflow: hidden;

                .chat-sidebar {
                    width: 350px;
                    height: calc(100vh - 152px);
                    border-right: 1px solid var(--bs-border-color);
                    background-color: var(--bs-white);
                    display: flex;

                    @media screen and (max-width: 1200px) {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: -350px;
                        transition: 0.3s all ease-in-out;
                        z-index: 90;
                        &.active {
                            left: 0;
                            transition: 0.3s all ease-in-out;
                        }

                    }

                    @media screen and (max-width: 576px) {
                        width: 100%;
                        left: -100%;

                        &.active {
                            left: 0;
                            transition: 0.3s all ease-in-out;
                        }

                    }

                    .chat-justify-start {
                        width: 50px;
                        height: calc(100vh - 152px);
                        border-right: 1px solid var(--bs-border-color);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;
                    }

                    .chat-justify-adjust {
                        width: calc(100% - 50px);
                        height: calc(100vh - 152px);
                    }

                }

                .user-information-sidebar {
                    width: 350px;
                    height: calc(100vh - 152px);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -100%;
                    transition: 0.3s all ease-in-out;
                    background-color: var(--bs-white);
                    z-index: 80;
                    box-shadow: 0 0 8px 0 var(--bs-border-color);

                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }

                    &.active {
                        right: 0;
                        transition: 0.3s all ease-in-out;
                    }

                }

                .chat-content {
                    width: calc(100% - 350px);
                    height: calc(100vh - 152px);
                    background-color: var(--bs-white);
                    position: relative;

                    @media screen and (max-width: 1200px) {
                        width: 100%;
                    }

                }

            }

            .email-wrapper {
                display: flex;
                overflow: hidden;
                position: relative;

                .email-sidebar {
                    width: 250px;
                    border-right: 1px solid var(--bs-border-color);
                    background-color: var(--bs-white);

                    @media screen and (max-width: 1200px) {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: -250px;
                        transition: 0.3s all ease-in-out;
                        z-index: 90;

                        &.active {
                            left: 0;
                            transition: 0.3s all ease-in-out;
                        }

                    }

                    @media screen and (max-width: 576px) {
                        width: 100%;
                        left: -100%;

                        &.active {
                            left: 0;
                            transition: 0.3s all ease-in-out;
                        }

                    }

                }

                .email-content {
                    width: calc(100% - 250px);
                    position: relative;

                    .email-information {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: -350px;
                        width: 350px;
                        height: 100%;
                        background-color: var(--bs-white);
                        z-index: 90;
                        transition: 0.3s all ease-in-out;
                        box-shadow: 0 0 8px 0 var(--bs-border-color);

                        @media screen and (max-width: 576px) {
                            right: -100%;
                            width: 100%;
                        }

                        &.active {
                            right: 0;
                            transition: 0.3s all ease-in-out;
                        }

                    }

                    @media screen and (max-width: 1200px) {
                        width: 100%;
                    }

                }

            }

            .customer-details {
                width: 360px;
                height: 100%;
                top: 0;
                bottom: 0;
                right: -100%;
                transition: 0.3s all ease-in-out;

                &.active {
                    right: 0;
                    transition: 0.3s all ease-in-out;
                }

            }

        }

    }

}

.authentication {
    width: 576px;
    height: auto;
}
